# Bellevue University 
# DSC540-T302 Data Preparation: Summer 2021
## Yograj Karki 
### Term Project : Milestone 2 <br>
06/24/2021

Original data source: https://www.kaggle.com/sobhanmoosavi/us-accidents <br>
Original csv file is large on size (1.16 GB) with 2906610 rows and 47 columns. For efficiency purpose, I'll be creating another csv file with 5% data of original file, which would still contain about 145000 rows.

I'll be working on sampled file for a while and then load the entire data when the coding is complete.

In [1]:
import pandas
import random

filename = "US_Accidents_Dec20_Updated.csv" 

# Calculate number of rows in file
n = sum(1 for line in open(filename))-1 

# sample size of 5%
s = 145000

skip = sorted(random.sample(range(1, n+1), n-s))  # n+1 to compensate for header 
df = pandas.read_csv(filename, skiprows=skip)

In [2]:
df.shape

(145000, 47)

In [3]:
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-30,2,2019-11-25 07:11:55,2019-11-25 08:42:16,43.220390,-85.500961,43.220390,-85.500961,0.0,Accident on 17 Mile Rd at Stout Ave.,...,False,False,False,False,False,False,Night,Night,Day,Day
1,A-44,2,2016-12-29 07:35:34,2016-12-29 08:05:17,28.698406,-82.451477,28.698406,-82.451477,0.0,Accident on County Hwy-480 Oak Park Blvd at Co...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-67,2,2019-04-11 12:20:07,2019-04-11 12:49:16,31.759741,-106.484001,31.759741,-106.484001,0.0,Accident on Campbell St at Myrtle Ave.,...,False,False,False,False,True,False,Day,Day,Day,Day
3,A-107,2,2017-08-22 10:53:29,2017-08-22 11:23:16,41.256569,-95.940956,41.256569,-95.940956,0.0,Accident on 19th St Eastbound at Harney St.,...,False,True,False,False,True,False,Day,Day,Day,Day
4,A-123,2,2019-06-19 17:55:06,2019-06-19 18:24:54,33.713829,-112.285217,33.713829,-112.285217,0.0,Accident on 107th Ave at Happy Valley Pkwy.,...,False,False,False,False,True,False,Day,Day,Day,Day

In [4]:
# export the sampled csv a new file
df.to_csv("sample_accidents.csv", encoding='utf-8', index=False)